---
import BuildingItem from '../icons/Building.astro'
import CalendarItem from '../icons/Calendar.astro'

interface Props {
    date: string
    img: string
    job_description: string
    location: string
    place: string
    title: string
}

const { 
    date,
    img,
    job_description,
    location,
    place,
    title,  
} = Astro.props
---

<span class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-1 ring-blue-700 bg-white text-blue-700">
    <CalendarItem class="size-4"/>
</span>

<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
    {date}
</time>


<div class="grid-experience mt-4 grid-rows-1 grid-cols-3 gap-6">
    <div class="grid-shadow flex flex-col gap-y-6 items-center col-start-1 border-[#212121] bg-[#212121] backdrop-blur-sm bg-opacity-40 rounded-3xl">
        <h3 class="text-lg font-semibold text-sky-700 mt-1 mx-4 text-pretty">
            {title}
        </h3>
        <h5 class="text-lg font-semibold text-sky-700 mt-1 mx-4 text-pretty">
            {job_description}
        </h5>
    </div>

    <div class="grid-shadow flex items-end justify-center col-start-2 border-[#212121] bg-[#212121] backdrop-blur-sm bg-opacity-40 rounded-3xl transition-transform duration-300 hover:scale-105" style={`background-image: url('${img}'); background-size:cover;`}>
        <h5 class="text-lg flex flex-row items-center justify-center p-1 w-full gap-2 font-semibold text-sky-200  backdrop-blur-sm rounded-br-3xl rounded-bl-3xl" >
            <BuildingItem class="size-6" /> 
            <span>
                {place}
            </span>
        </h5>
    </div>

    <div class="grid-shadow flex items-start justify-center col-start-3 border-[#212121] bg-[#212121] backdrop-blur-sm bg-opacity-40 rounded-3xl" style='background-image: url(/world.jpg); background-size:cover;'>
        <h5 class="text-lg flex flex-row gap-x-2 font-semibold text-sky-700 mt-1 mx-4">
            <div class="pin"></div>
            <div class="pulse"></div>
            {location}
        </h5>
    </div>
</div>